<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Video Library
        {{ title_of_head }}
    </title>
</head>
<body>
<h2>Add new video -
    {{ title_of_head }}</h2>
<form action="/form{{id}}" method="post">
    <label for="title">Video title</label><br>
    <textarea name="title" id="title" rows="1" cols="80">{{ title }}</textarea><br><br>
    <label for="description">Description</label><br>
    <textarea name="description" id=description rows="8" cols="80">{{ description }}</textarea><br><br>
    <label for="tag">Add tag</label><br>
    <textarea name="tag" id="tag" rows="8" cols="80">{{ tag }}</textarea><br><br>
    <label for="email" >E-mail</label><br>
    <input name="email" type="number" id="email" value ="{{ email }}"><br><br>
    <label for="url">Status</label><br>
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>